name: Build docker coder image for web

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: prog-web
  VERSION: 1.0.0

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: |
          docker build -t $REGISTRY/${IMAGE_NAME}:${VERSION} infra/python/

      - name: Push image
        run: |
          docker push $REGISTRY/${IMAGE_NAME}:${VERSION}